/.vscode
*.exe
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python
__pycache__/
*.pyc
*.pyo

# C/C++
*.out
*.obj
*.o

# Backup files
*~
*.swp
*.swo

# Node.js
node_modules/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log